/*color scheme begins
#000000 13 black
#444444 2
#666666 6 dark gray
#777777 1
#888888 1
#BBBBBB 5 middle gray
#CCCCCC 4 middle gray
#EDEDED 5 light gray
#FFFFFF 11 white
#5DB0E6 7 theme blue
color scheme ends*/

/*new or temporary stuff begins*/

#keyword-form input {
    margin-right:1em;
}

#move-resource-dialog,
#resource-move-destinations,
#remove-resource-form
    {
    margin-top:1em;
    }

#new-resource-form {
    margin-top:1.5em;
    }
    
#add-field {
    margin-right:2.2em;
}

#new-resource-form li input {
    margin-right:1em;
}
/*new or temporary stuff ends*/

p, 
td 
    {
    line-height:1.25em;
}

a {
    color:#666666;
    text-decoration:none;
    font-weight:normal;    
}

a:hover {
    text-decoration:none;
    color:#5DB0E6;
    border-bottom:0
}

a:link, 
a:visited 
    {
    color:#5DB0E6; 
    }

img {border:0;
}

#content1col {
	margin-bottom:3em;
}

/*page top elements begin*/

#page-head {
    height:14em;
    margin-top:.5em;
    margin-bottom:0;
}

#page-head-left {
    position:absolute;
    left:0;
}

#page-head-right {
    position:absolute;
    right:0;
    margin-top:1em;
}

#content1col .help {
    text-align:left; 
    font-size:120%; 
    margin-bottom:-1.2em;
    text-decoration:none;
}

#content1col .login {    
    text-align:right; 
    font-size:120%; 
    margin-bottom:4px;
    color:#666666;
}

#content1col .username { 
    font-weight:bold; 
}

/*page top elements end*/
    
/*query panel begins*/

#query-panel .search-form td {
    padding:4px 4px 0 4px;
    text-align:left;
    color:#666666;
}

#query-panel .ui-autocomplete-input {
    width:260px; 
}

#query-panel .search-form input {
    width:800px;
}

#query-panel .search-form .small {
    width:6px;
}

#query-panel .search-form td input{
    width:260px;    
}

#query-panel .advanced-search {
    display:inline;    
    }

#query-panel .search-form .collection-input {
    border:0;
    width:800px;
}

#add-field,
#remove-field,
#clear-all 
    {
	padding-bottom:2px;
    padding-left:1em;
    padding-right:1em;
    padding-top:2px;
}

#form-submit {
    font-weight:bold; 
    display:inline;
    padding-bottom:2px;
    padding-left:1em;
    padding-right:1em;
    padding-top:2px;
    margin-left:7em;
    color:#666666;
    }

/*query panel ends*/

/*folder view*/

/*collection-tree begins*/

#collection-tree {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    float:left;
    margin-top:.8em;
}

.collection-tree-head {
    background-color:#EDEDED;
    margin-bottom:-8px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    height:40px;

}

.collection-tree-toolbar {
    margin:10px 5px 5px 5px;
    height:20px;
    list-style:none;
    padding:8px 0;
    background-color:#FFFFFF;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
}

.collection-tree-toolbar li {
    display:inline;
    float:left;
    margin:4px 8px 4px 0;
}

.collection-tree-toolbar img { 
    border:0; 
}

#toggle-collection-tree {
    margin:4px;
}

#collection-tree-main {
	clear:left;
	}

#collection-tree-tree {
    clear:left;
}

#collection-tree-tree ul {
    font-size:1em;
}

table.biblio-full td.collection-label {
    background-color:#FFFFFF;
    text-align:right;
}

ul.dynatree-container {
    border:0;
    background-color:#FFFFFF;
    font-size:1em;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#collection-expand-all {
	margin-left:5px;
}

td.collection-path {
    width:800px;    
}

.box {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#EDEDED;
    color:#666666;
    margin-top:0;
    margin-bottom:5px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:2px;
}

.box p {
    margin:4px;
}


/*collection-tree ends*/

/*create new record dialog*/

.language-label {
    padding:.5em;
}

.language-list {
    position:absolute;
    right:2em;
}

.language-list option {
    margin:.25em .5em .25em .5em;
}

#results-head {
    border-bottom:1px solid #BBBBBB;
    padding:1em;
}

.records-found {
	margin-right:1em;
}

#results {
    margin-top:.5em;
    overflow:auto;
}

.hi {
	background-color:#5DB0E6;
}

.operator select,
.search-field select
{
	margin-left:.5em;
}

.search-term {
	width:10em;
}

.hit-count {
	1color:#5DB0E6;
	1font-weight:bold;
}

/*facets begin*/

#filters {
    margin-top:-3px;
    float:right;
    width:240px;
    height:320px;
    margin-left:10px;
    padding:4px;
    font-size:1em;
}

#filters ul {
    list-style:none;
    margin:0;
    font-size:1em;
}

#filters ul li {
	line-height:1em;
	display:list-item;
}

#filters li a {
    font-weight:normal;
}

#filters .ui-accordion .ui-accordion-content {
	padding-top:0 !important;	
}

#filters .expanded .expand-img {
    background:url(minus.gif) no-repeat left bottom; 
}

#filters .expand-img {
    float:left;
    width:14px;
    height:14px;
    background:url(plus.gif) no-repeat left bottom;
}

#filters img {
    border:0;
    text-align:center;
}

.ui-accordion a,
.ui-accordion-header a 
    {
	font-weight:normal;
}

.ui-state-hover,
.ui-state-hover a,
.ui-state-hover a:hover
	{
	color:#5DB0E6 !important;
	}

/*facets end*/

/*pagination begins*/

.pagination-mode, 
.navbar .pagination-toggle 
    {
    margin-left:4em;
}

.pagination-links {
    padding:0 8px 0 8px;
    margin-bottom:12px;
}

.pagination-link {
	display:none;
}

.pagination-first {
    margin-right:.5em;
    padding:2px 4px 2px 4px;
}

.pagination-last {
    margin-left:.5em;
    padding:2px 4px 2px 4px;
}

.pagination-previous {
    margin-right:.5em;
    padding:2px 6px;    
}

.pagination-next {
    margin-right:.5em;
    padding:2px 6px;
}

.pagination-previous,
.pagination-next,
.pagination-last,
.pagination-first
	{
    cursor:pointer;
    border:1px solid #5DB0E6;
    color:#5DB0E6;
}

.pagination-view {
    margin-left:20px;
}

.inactive {
    border:1px solid #CCCCCC;
    color:#CCCCCC;
    cursor:default;
}

.pagination-info {
    margin:10px;
    text-align:center;
}

.pagination-list-view {
    margin-left:.25em;
}

/*pagination ends*/

.authors {
    display:none;
}

.pagination-n, 
.actions-cell,
.detail-type,
.list-type,
.pagination-number
{
    text-align:center;
    vertical-align:top;
    margin:0;
}

.pagination-number {
    padding-top:.45em;
    }

.actions-cell {
    padding-top:.25em;
    }

.detail-type {
    margin:10px 0 0 0;
    padding-left:10px;
    text-align:center;
}

.pagination-n {
    padding:0.55em 0 0 0;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-bottomleft:4px;
    border-top-left-radius:4px 4px;
    border-bottom-left-radius:4px 4px;
 }

.subject td {
    vertical-align:middle;
    border:#BBBBBB 1px;
    padding:0;    
}

.action-toolbar {
    float:right;
}

/*main structures for display of search results begins*/
#results ul {
    list-style:none;
    margin-top:2px;
}

#results li {
    float:left;
    padding:4px 4px;
    margin:-2px 0 0 -2px;
    text-align:center;
    position:relative;
    border:2px solid #CCCCCC;
}

#results li.gallery {
    width:196px;
}

#results li.gallery .icon {
    position:relative;
    display:inline-block;
    height:128px;
    line-height:128px;
    width:196px;
    text-align:center;
    overflow:hidden;
}

#results li img.icon-magnifier {
    position:absolute;
    top:8px;
    right:5px;
    z-index:100;
    display:none;
    padding:6px;
    border:1px solid #777777;
    background:#888888;
}

#results li .icon:hover .icon-magnifier {
    display:block;
}

.magnify {
    cursor:pointer;
}

#results li.grid .icon {
    display:inline-block;
    height:72px;
    line-height:72px;
    width:72px;
    text-align:center;
    overflow:hidden;
}

#results li img {
    display:inline;
    cursor:pointer;
    vertical-align:middle;
}

#results li h4 {
    margin:0;
    font-size:75%;
    font-weight:normal;
}

li .pagination-number {
    display:none;
}

table .biblio-full {
    margin-top:-.75em;
}

table .pagination-toggle {
    cursor:pointer;
    text-decoration:none;
    line-height:1.8em;
    padding-top:1px;
    padding-left:.5em;
    padding-right:.5em;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px;
    border-top-right-radius:4px 4px;
    border-bottom-right-radius:4px 4px;
}

table .even {
    background-color:#EDEDED;
}

table .biblio-full .collection {
	width:30em; /*to keep the collection path from overlapping the actions toolbar*/
}

table .biblio-full .label {
    text-align:right;
    padding-right:1em;
    vertical-align:middle;
    width:90em; /*to set a minimum width that keeps the table biblio-full from collapsing*/
}

table .biblio-full .record {
    font-weight:normal;
    text-align:left;
    vertical-align:middle;
    width:65em;
}

table .biblio-full tr {
    height:1.25em;
}

table .biblio-full .sublabel {
    font-weight:bold;
    text-align:right;
    padding-right:1em;
    vertical-align:middle;
    color:#BBBBBB;
    width:5em;
}

table .biblio-full .host {
    font-weight:bold;
    text-align:right;
    padding-right:1em;
    width:16em;
}

table .biblio-full .deemph {
    text-align:right;
    vertical-align:middle;
    color:#BBBBBB;
    width:10em;
}

table .biblio-full .subrecord {
    font-weight:normal;
    text-align:left;
    vertical-align:middle;
    width:40em;
}

table .biblio-full .record table,
table .biblio-full .subrecord table 
    {
	margin:0;
}

table .biblio-full .related td {
    margin:10em;
    line-height:3.4em;
    border-top:1px solid #BBBBBB;
}

/*main structures for display of search results ends*/

/*results-view styling begins*/

td .title {
    font-style:italic;
}

td .title-no-italics {}

td .name {}

td .relatedItem-row {}

td .relatedItem-span {}

td .relatedItem-label {}

/*results-view styling ends*/

.actions-toolbar {
    float:right;
}

.save {
    vertical-align:top;
}

.save img, 
.actions-toolbar img 
{
    border:0;
    margin:0;
}

.ui-widget {
    font-size:1em;
}

.ui-widget-content .ui-state-default {
	color:#444444;
}

#optimize-trigger { /*shown when logged in as admin*/
	float:right;
}

form ul li {
	list-style:none;
}

/*collection-tree*/
span.readable .dynatree-title {
    font-weight:normal;
    color:grey;
}

/*folder sharing dialog begins*/

.sharing-panel {
    border:1px #000000 solid;
    padding:1em;
    margin-bottom:2em;
    margin-bottom:.5em;
}

.sharing-option {
    margin-top:1em;
}

#members-list {
    width:35em;
}

#group-members {
    margin-top:1em;
    margin-bottom:1em;    
}

#group-members-list {
    font-size:90%;
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    color:#000000;
    height:5em;
    list-style:none;
    overflow:auto;
    width:40em;
    padding:2px;
    display:block;
    margin-bottom:0.5em;    
}

#group-members-list li {
    padding-bottom:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
}

.labelWithCheckboxLeft {
    padding-left:0.25em;    
}

/*folder sharing dialog ends*/

#new-resource-dialog {
    font-size:.85em;
}

#login-form {
    width:30em;
    }

#login-form input {
    width:20em;
    }
    
/* image gallery lightbox */
.overlay {
    display:none;
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:#000000;
    z-index:1001;
    -moz-opacity:0.9;
    opacity:.90;
    filter:alpha(opacity=90);
}

.lightbox .view {
    position:fixed;
    top:50%;
    text-align:center;
    z-index:2002;
    
    padding:16px;
    border:0;
    background-color:#FFFFFF;
    border-radius:10px;
    overflow:auto;
    box-shadow:0px 0px 15px #000000;/*CSS3 shadow:30px blurred shadow all around form*/ 
    -webkit-box-shadow:0px 0px 15px #000000;/*Safari shadow version*/ 
    -moz-box-shadow:0px 0px 15px #000000;/* Mozilla shadow version*/
}

.lightbox .image {
    position:relative;
    margin:0 auto;
    height:100%;
    width:100%;
    text-align:center;
}

#viewer-image {
    /* scale to parent container */
    max-width:100%;
    max-height:100%;
}

.lightbox h4 {
    color:#666666;
    font-weight:normal;
    font-size:125%;
    margin:10px auto 0 auto;
}

.lightbox .next, 
.lightbox .previous 
{
    position:absolute;
    display:none;
    padding:0 10px 10px 10px;
    background-color:#FFFFFF;
    color:#444444;
    font-size:200%;
    font-weight:bold;
    -moz-opacity:0.8;
    opacity:.80;
    filter:alpha(opacity=80);
}

.lightbox .image:hover .close,
.lightbox .image:hover .next,
.lightbox .image:hover .previous 
{
    display:block;
}

.lightbox .close {
    position:absolute;
    bottom:5px;
    right:10px;
}

.lightbox .next {
    top:33%;
    right:0;
}

.lightbox .previous {
    top:33%;
    left:0;
}

.filmstrip {
    position:fixed;
    display:none;
    bottom:20px;
    left:20px;
    right:20px;
    z-index:2001;
    overflow:hidden;
}

.filmstrip ul {
    list-style:none;
    /* height:140px; */
    margin:0;
    padding:0;
    vertical-align:middle;
    background:#000000;
}

.filmstrip li {
    display:inline-block;
    height:64px;
    width:64px;
    line-height:64px;
    border:2px solid #000000;
    text-align:center;
    margin:0;
}

.filmstrip li img {
    display:inline-block;
    vertical-align:middle;
}

.filmstrip .highlighted {
    border:2px solid #FFFFFF;
}

.filmstripPageButtonContainer {
    text-align:center;
}

.filmstripPageButton {
    font-size:20pt;
    color:#FFFFFF;
    padding-left:4em;
    padding-right:4em;
}

.filmstripPageButton:hover {
    background-color:#000000;
    border:1px #FFFFFF solid;
}

/* collection sharing dialog begins*/

#collectionSharingDetails_filter {float:right;
margin-top:-2.5em;}

#sharing-collection-dialog div,
#collectionSharingDetails
    {
    margin-bottom:1em;
}

#collectionSharingDetails_processing,
#collectionSharingDetails_length
{
    display:none;
}

#collectionSharingDetails, 
#collectionSharingDetails th, 
#collectionSharingDetails td 
{
    width:100%;
    border-collapse:collapse;
    border:1px solid #EDEDED;
    }

#collectionSharingDetails td, 
#collectionSharingDetails th 
{
    line-height:0.8em;
    
    width:20%;
    text-align:center;
}

#collectionSharingDetails td {
    padding:3px 10px 3px 10px;
}

#collectionSharingDetails th {
    padding-top:10px;
    padding-bottom:10px;
}

#collectionSharingDetails_paginate span {
    margin-right:2em;
}

#collectionSharingDetails_paginate {
    vertical-align:middle;
}

#collectionSharingDetails_paginate .paginate_button_disabled {
    color:#EDEDED;
}

#collectionSharingDetails_paginate span .paginate_active {
    margin-right:0;
    font-weight:bold;
}

#add-new-user-to-share-button {
    margin-right:1em;
}

#project-auto-list,
#user-auto-list {
    width:20em;
}

#add-user-to-share-dialog input, 
#add-project-to-share-dialog input 
{
	margin:1em 1em 1em 0;
	display:block;
}

/* collection sharing dialog ends*/

/*Zotero notes markup begins*/

#results .record p,
#results .record ol li,
#results .record ul li 
    {
    margin:0;
    border:0;
    float:none;
    padding:0;
    text-align:left;
}

#results .record h1,
#results .record h2,
#results .record h3,
#results .record h4,
#results .record h5,
#results .record h6
    {
    background-color:white;
    color:black;
    padding:0;
    }


#personal-list button {
    padding:2px 4px 2px 4px;
    margin-right:4px;
}

/*Zotero notes markup ends*/

#login-form {
    width:30em;
}

.metadata {
    position:fixed;
    right:20px;
    top:20px;
    bottom:100px;
    width:50%;
    display:none;
    z-index:2002;
    
    padding:16px;
    border:0;
    background-color:#FFFFFF;
    border-radius:10px;
    overflow:auto;
    box-shadow:0px 0px 15px #000000;/*CSS3 shadow:30px blurred shadow all around form*/ 
    -webkit-box-shadow:0px 0px 15px #000000;/*Safari shadow version*/ 
    -moz-box-shadow:0px 0px 15px #000000;/* Mozilla shadow version*/
}

.show-metadata {
    position:fixed;
    top:10px;
    right:10px;
    display:none;
    z-index:2002;
    
    padding:16px;
    background-color:#FFFFFF;
    color:#000000;
}

.clear {
}