#drop-area {
    border: 2px dashed #DDDDDD;
    height: 50px;
    margin-bottom: 2em;
    padding: 10px;
    text-align: center;
}
#drop-area .drop-instructions {
    display: block;
    height: 30px;
}
#drop-area .drop-over {
    display: none;
    font-size: 25px;
    height: 30px;
}
#drop-area.over {
    background: none repeat scroll 0 0 #FFFFA2;
    border: 2px dashed #000000;
}
#drop-area.over .drop-instructions {
    display: none;
}
#drop-area.over .drop-over {
    display: block;
}
#drop-area.over .drop-over {
    display: block;
    font-size: 25px;
}
#file-list {
    list-style: none outside none;
    margin-bottom: 3em;
}
#file-list li {
    border-bottom: 1px solid #000000;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
#file-list li.no-items {
    border-bottom: medium none;
}
#file-list div {
    margin-bottom: 0.5em;
}
#file-list li img {
    max-width: 400px;
}
#file-list .progress-bar-container {
    border: 1px solid #555555;
    height: 10px;
    margin-bottom: 20px;
    width: 400px;
}
#file-list .progress-bar-container.uploaded {
    border: medium none;
    height: auto;
}
#file-list .progress-bar {
    background: none repeat scroll 0 0 #6787E3;
    font-weight: bold;
    height: 10px;
    width: 0;
}
#file-list .progress-bar-container.uploaded .progress-bar {
    background: none repeat scroll 0 0 transparent;
    color: #6DB508;
    display: inline-block;
    width: auto;
}